geoxygene-util/src/main/resources/parameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Parameter">
		<xsd:sequence>
			<xsd:element name="param" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="key" minOccurs="1" type="xsd:anyType" />
						<xsd:element name="value" minOccurs="1" type="xsd:anyType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>